<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Vorgana Cafe</title>
</head>
<body>
    <nav class="nav" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" id="hamburger"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/" class="nav__img link"><img src="/img/logo.png" alt=""></a>
                <a href="/" class="nav__link link" id="mainPage" data-link>صفحه اصلی</a>
                <a href="/menu" class="nav__link link" id="menuBar" data-link>منو</a>
                <a href="/about" class="nav__link link" id="about" data-link>درباره ورگانا</a>
                <a href="/contact" class="nav__link link" id="contact" data-link>راه های ارتباطی</a>
            </ul>
        </div>
    </nav>
    <div class="toggle__theme" id="icon"><i class="fa-solid fa-sun moonSun"></i></div>

    <section class="banner">
        <div class="container-fluid">
            <div class="img">
                <img src="/img/banner.jpg" alt="">
            </div>
        </div>
    </section>

    
    
        <div id="app">
            <h1>درباره ورگانا</h1>
            <div class="container-fluid about">
                <div class="content">
                    <p>ورگانا یا همان ورگانَه نام دریای شمال ایران (دریای کاسپین) در کتاب اوستا و در کتیبه های هخامنشیان می باشد که از لحاظ تاریخی و مستند، نخستین نام این دریا است. این کلمه از دو بخش «ورگ» و پسوند «انا یا انَه» تشکیل می گردد. ورگ در زبان تاپوری که ریشه در زبان های اوستایی و پهلوی دارد به معنای گرگ می باشد و پسوند «انَه یا انا» همان پسوند مکان «ان» در زبان پارسی می باشد. ورگانا یعنی سرزمین گرگها.</p>
                </div>
            </div>
        </div>
        
    <script src="/js/script.js"></script>
    <script src="/js/all.min.js"></script>
    
    <script type="module" src="/static/js/index.js"></script>
</body>
</html>
            
            