<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Vorgana Cafe</title>
</head>
<body>
    <nav class="nav" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" id="hamburger"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/" class="nav__img link"><img src="/img/logo.png" alt=""></a>
                <a href="/" class="nav__link link" id="mainPage" data-link>صفحه اصلی</a>
                <a href="/menu" class="nav__link link" id="menuBar" data-link>منو</a>
                <a href="/about" class="nav__link link" id="about" data-link>درباره ورگانا</a>
                <a href="/contact" class="nav__link link" id="contact" data-link>راه های ارتباطی</a>
            </ul>
        </div>
    </nav>
    <div class="toggle__theme" id="icon"><i class="fa-solid fa-sun moonSun"></i></div>

    <section class="banner">
        <div class="container-fluid">
            <div class="img">
                <img src="/img/banner.jpg" alt="">
            </div>
        </div>
    </section>

    
    
        <div id="app">
            <h1>صفحه اصلی</h1>
        </div>
        
    <script src="/js/script.js"></script>
    <script src="/js/all.min.js"></script>
    
    <script type="module" src="/static/js/index.js"></script>
</body>
</html>