<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Vorgana Cafe</title>
</head>
<body>
    <nav class="nav" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" id="hamburger"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/" class="nav__img link"><img src="/img/logo.png" alt=""></a>
                <a href="/" class="nav__link link" id="mainPage" data-link>صفحه اصلی</a>
                <a href="/menu" class="nav__link link" id="menuBar" data-link>منو</a>
                <a href="/about" class="nav__link link" id="about" data-link>درباره ورگانا</a>
                <a href="/contact" class="nav__link link" id="contact" data-link>راه های ارتباطی</a>
            </ul>
        </div>
    </nav>
    <div class="toggle__theme" id="icon"><i class="fa-solid fa-sun moonSun"></i></div>

    <section class="banner">
        <div class="container-fluid">
            <div class="img" style="max-height: 650px;">
                <img src="/img/banner.jpg" alt="">
            </div>
        </div>
    </section>

    
    
        <div id="app">
            <h1>منو کافه</h1>
            
                <section class="link-bars">
                    <div class="container-fluid">
                        
                        <ul>
                            <li><a href="#coffee">قهوه</a></li>
                            <li><a href="#chemex">کمکس</a></li>
                            <li><a href="#hotDrink">نوشیدنی گرم</a></li>
                            <li><a href="#teaHerbal">چای و دمنوش</a></li>
                            <li><a href="#iceCoffee">آیس کافی</a></li>
                            <li><a href="#mocktail">موکتل</a></li>
                            <li><a href="#shake">شیک</a></li>
                            <li><a href="#cake">کیک</a></li>
                        </ul>
                        
                    </div>
                </section>

                <div class="container">
                <div class="row menu" id="coffee">
                    <h1>نوشیدنی گرم بر پایه قهوه</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>اسپرسو 100 عربیکا</h3>
                                <p>39/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>اسپرسو 60/40</h3>
                                <p>34/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آمریکانو 100 عربیکا</h3>
                                <p>39/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آمریکانو 60/40</h3>
                                <p>34/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>لاته</h3>
                                <p>69/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کاپوچینو</h3>
                                <p>69/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>ماکیاتو</h3>
                                <p>5ق0/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کرتادو</h3>
                                <p>60/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>موکا</h3>
                                <p>90/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>لاته ماکیاتو</h3>
                                <p>79/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>بَنَک پسته</h3>
                                <p>89/000 T</p>
                            </div>
                        </div>
                    </div>

                    <div class="row menu" id="chemex">
                    <h1>قهوه دمی</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>V60</h3>
                                <p>88/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کمکس</h3>
                                <p>88/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>فرانسه</h3>
                                <p>55/000 T</p>
                            </div>
                        </div>
                    </div>


                    <div class="row menu" id="hotDrink">
                    <h1>نوشیدنی گرم</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/4.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>هات چاکلت</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/4.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>وایت چاکلت</h3>
                                <p>65/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/4.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چاکلت بار</h3>
                                <p>80/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/4.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>ماسالا</h3>
                                <p>59/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/4.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیرعسل</h3>
                                <p>65/000 T</p>
                            </div>
                        </div>
                    </div>

                    <div class="row menu" id="teaHerbal">
                    <h1>چای و دمنوش</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چای سیاه</h3>
                                <p>25/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چای سبز</h3>
                                <p>35/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چای ترش</h3>
                                <p>35/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چای انگلیسی</h3>
                                <p>40/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>دمنوش ریکاوری</h3>
                                <p>43/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>دمنوش هپی</h3>
                                <p>43/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/5.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آیتم انتخابی</h3>
                                <p>39/000 T</p>
                            </div>
                        </div>
                    </div>

                    <div class="row menu" id="iceCoffee">
                    <h1>آیس کافی</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو کلاسیک</h3>
                                <p>55/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو آیریش</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو کوکونات</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو گراناداین</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو تکیلا</h3>
                                <p>90/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو مینت</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کلد برو لمن</h3>
                                <p>70/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آیس آمریکانو 100 عربیکا</h3>
                                <p>44/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آیس آمریکانو 60/40 عربیکا</h3>
                                <p>39/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>آفوگاتو</h3>
                                <p>55/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/6.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>هایپ اسپرسو</h3>
                                <p>99/000 T</p>
                            </div>
                        </div>
                    </div>

                    <div class="row menu" id="mocktail">
                    <h1>موکتل</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>مانکای فروت</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>پرشین گریین</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>فرانسوا</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چری بری</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>هل ولف</h3>
                                <p>80/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>تروپیکال</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>موهیتو</h3>
                                <p>60/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>لیموناد</h3>
                                <p>60/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>سیگنیچر</h3>
                                <p>85/000 T</p>
                            </div>
                        </div>
                    </div>

                    <div class="row menu" id="shake">
                    <h1>شیک</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک شکلات</h3>
                                <p>110/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک وانیل</h3>
                                <p>99/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک نوتلا</h3>
                                <p>110/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک پاستیل</h3>
                                <p>85/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک میوه ای</h3>
                                <p>75/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>شیک پینات</h3>
                                <p>115/000 T</p>
                            </div>
                        </div>
                    </div>


                    <div class="row menu" id="cake">
                    <h1>کیک</h1>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>چیز کیک</h3>
                                <p>64/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کیک شکلاتی</h3>
                                <p>60/000 T</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>کیک روز</h3>
                                <p>؟؟؟</p>
                            </div>
                        </div>
                        <div class="menu-item col-5">
                            <div class="img">
                                <img src=" /img/3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h3>موچی</h3>
                                <p>73/000 T</p>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
        
    <script src="/js/script.js"></script>
    <script src="/js/all.min.js"></script>
    
    <script type="module" src="/js/index.js"></script>
</body>
</html>
